.page {
    position: relative;
    display: flex;
}

main {
    flex: 1;
}

.bottom-bar {
    position: fixed;
    z-index: 100;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .bottom-bar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}
