@inherits LayoutComponentBase
@inject GuessWhoOnePiece.Services.LoadingService LoadingService

<div class="page">

    @if(!LoadingService.Loading)
    {
        <div class="bottom-bar">
            <TabBar />
        </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
