<div class="tab-bar">
    <nav class="nav justify-content-around">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img class="nav-icon" src="icons/home_icon.png" alt=""/>
                <span class="nav-text">Home</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="counter">
                <img class="nav-icon" src="icons/today_icon.png" alt=""/>
                <span class="nav-text">Counter</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="weather">
                <img class="nav-icon" src="icons/settings_icon.png" alt=""/>
                <span class="nav-text">Weather</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="characters">
                <img class="nav-icon" src="icons/characters_icon.png" alt=""/>
                <span class="nav-text">Characters</span>
            </NavLink>
        </div>
    </nav>
</div>

