@page "/"
@page "/loading"
@inject GuessWhoOnePiece.Services.LoadingService LoadingService
@inject NavigationManager Navigation
@inject GuessWhoOnePiece.Model.CsvManager.IFileServiceReader FileServiceReader

<div class="loading-bar">
    <div class="progress" id="progressBar" style="width:@ProgressValue%"></div>
    <span class="progress-text" id="progressText">@ProgressValue%</span>
</div>
