@page "/loading"
@using GuessWhoOnePiece.UI.LoadingBar
@inject GuessWhoOnePiece.Services.LoadingService LoadingService
@inject GuessWhoOnePiece.Services.ControlRoomService ControlRoomService
@inject NavigationManager Navigation

<LoadingBar ProgressPercentage="@ProgressValue"/>
<h3>SplashScreen</h3>

<button>Button</button>
