@page "/"
@page "/loading"
@using GuessWhoOnePiece.UI.LoadingBar
@inject GuessWhoOnePiece.Services.LoadingService LoadingService
@inject GuessWhoOnePiece.Services.ControlRoomService ControlRoomService
@inject NavigationManager Navigation

<div class="loading-bar">
    <div class="progress" id="progressBar" style="width:@ProgressValue%"></div>
    <span class="progress-text" id="progressText">@ProgressValue%</span>
</div>
