@using GuessWhoOnePiece.UI.Picture

<NavLink class="nav-link" href="charactersInfo" Match="NavLinkMatch.All">
    <div class="card-character">
        <div class="card-picture">
            <Picture PicturePath="@Character.Picture"/>
        </div>
        <div class="card-details">
            <div class="card-name">
                <h4>@Character.Name</h4>
            </div>
        </div>
    </div>
</NavLink>
