<NavLink class="nav-link" href="characters" Match="NavLinkMatch.All">
    <div class="card-character">
        <div class="card-picture">
            <img src="@Character.Picture" alt="@Character.Name">
        </div>
        <div class="card-details">
            <div class="card-name">
                <h4>@Character.Name</h4>
            </div>
            <div class="card-level">
                Level : @Character.Level
            </div>
        </div>
    </div>
</NavLink>
