@using GuessWhoOnePiece.UI.Picture
@inject IJSRuntime JS

<div id="answerCard" class="answer-circle @DefineColor()">
    @if (!string.IsNullOrEmpty(AnswerImage))
    {
        <div class="answer-picture">
            <Picture PicturePath="@AnswerImage" />
        </div>
    }
    else 
    {
        <label id="answerText" class="answer-text">@AnswerText</label>
    }
</div>