.character-name-title {
    font-size: 1.8rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
}

.character-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

h4 {
    background-color: darkslategrey;
    padding: 10px 20px;
    margin: 8px 0;
    border-radius: 8px;
    text-align: center;
    color: white;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease;
    font-size: 12px;
}

h4:hover {
    transform: scale(1.01);
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.3);
}

.picture-character {
    display: flex;
    overflow: hidden;
    height: 360px;
    width: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.picture-character Picture {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.character-info-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}