@page "/game"
@using GuessWhoOnePiece.Components.Elements.BackButton
@using GuessWhoOnePiece.Components.Elements.TextEntry
@using GuessWhoOnePiece.Components.Elements.CarouselAnswer

<div>
    <div class="top-bar-menu">
        <BackButton/>
        <TextEntry WithAutoComplete="true" Items="_gameViewModel.CharacterNameList" OnItemSelected="OnCharacterClicked"/>
    </div>

    <div class="list-answers">
        @if (_gameViewModel.AnswersList.Any())
        {
            @foreach (var character in _gameViewModel.AnswersList)
            {
                <h3 class="answer"> @character.Name</h3>
                /*<div class="answer-character">
                    <CarouselAnswer Character="character" AnswerState="character.AnswerStateList" AnswerImageLink="character.AnswerImageLink"></CarouselAnswer>
                </div>*/
            }
        }
    </div>
</div>