@page "/game"
@inject NavigationManager Navigation

<div class="game-page">
    <div class="top-bar-menu">
        <div class="text-entry">
            <TextEntry WithAutoComplete="true" Items="_gameViewModel.CharacterNameList" OnItemSelected="OnCharacterClicked"/>
        </div>
    </div>

    <div class="list-answer">
        @if (_gameViewModel.AnswersList.Any())
        {
            @foreach (var character in _gameViewModel.AnswersList)
            {
                <div class="answer-character">
                    <CarouselAnswer Character="character"></CarouselAnswer>
                </div>
            }
        }
    </div>
</div>