@page "/game"
@using GuessWhoOnePiece.Components.Elements
@using GuessWhoOnePiece.Components.Elements.Answer
@using GuessWhoOnePiece.Components.Elements.BackButton
@using GuessWhoOnePiece.Components.Elements.TextEntry

<div>
    <div class="top-bar-menu">
        <BackButton/>
        <TextEntry/>
    </div>

    <div class="grid-game">
        @for (var index = 0; index < 36; index++)
        {
        <answer/>
        }
    </div>  
</div>