@page "/game"
@using GuessWhoOnePiece.Components.Elements.BackButton
@using GuessWhoOnePiece.Components.Elements.TextEntry
@using GuessWhoOnePiece.Components.Elements.CarouselAnswer

<div>
    <div class="top-bar-menu">
        <BackButton/>
        <TextEntry/>
    </div>

    <CarouselAnswer></CarouselAnswer>
</div>