@page "/"
@using GuessWhoOnePiece.Model.CsvManager
@using GuessWhoOnePiece.Model.DataEntries
@using System.Diagnostics
@using System.Threading
@inject IJSRuntime JS

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="@OnClickChargement">Data</button>

<div>
    <button @onclick="@OnShowCharacter">Show Character</button>
    <label>@_value</label>
    @if(isLoading)
    {
        <Waiting></Waiting>
    }
</div>



