@page "/"
@using GuessWhoOnePiece.Components.Elements.Loading
@using GuessWhoOnePiece.Model.CsvManager
@using GuessWhoOnePiece.Model.DataEntries
@using System.Diagnostics

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="@OnClickChargement">Data</button>

<div>
    <button @onclick="@OnShowCharacter">Show Character</button>
    <label>@_value</label>
</div>


@code
{

    readonly ControlRoom _controlRoom = new ControlRoom();
    private string _value = string.Empty;

    private async void OnClickChargement()
    {
        await _controlRoom.GenerateThreads();
    }

    private async void OnShowCharacter()
    {
        /*var characters = await ReceiveDataCsv.ReceiveAllCharacters();
        foreach (var character in characters)
            {
            _value += character.Name + " ";
        }*/

        var stopwatch = new Stopwatch();

        var character = "Monkey D. Luffy";

        stopwatch.Start();
        // var characters1 = await _controlRoom.DataForCharacter(ControlRoom.SetCharacterLink(character), character);
        await _controlRoom.ReceivedCharactersList();
        stopwatch.Stop();
        Console.WriteLine($"Method Global: {stopwatch.ElapsedMilliseconds} ms");

    }
}
