@page "/characters"
@using Bunit.Extensions
@using GuessWhoOnePiece.Components.Elements.ItemList
@using GuessWhoOnePiece.Components.Elements.Loading
@using GuessWhoOnePiece.Components.Elements.TextEntry

<TextEntry WithAutoComplete="false" Items="_characterNames" OnItemSelected="OnSelectedCharacter" OnKeyPressed="OnKeyPressed" OnInputKeys="OnInputAsync"></TextEntry>

<ul class="list-character">
    @if (_characters.IsNullOrEmpty())
    {
        <Loading></Loading>
    }
    else
    {
        @foreach (var character in _characters)
        {
            <li>
                <ItemList Character="character"/>
            </li>
        }
    }
</ul>