@page "/characters"
@using GuessWhoOnePiece.Model.Characters
@inject GuessWhoOnePiece.Model.CsvManager.IFileServiceReader FileServiceReader
@inject GuessWhoOnePiece.Services.CurrentCharacterService CharacterService

<BackgroundPicture/>

<div class="top-bar-menu">
    <div class="text-entry">
        <TextEntry WithAutoComplete="false" Items="_characterNames" OnItemSelected="OnSelectedCharacter" OnKeyPressed="OnKeyPressed" OnInputKeys="OnInput"></TextEntry>
    </div>
</div>

<ul class="list-character">
    @if (isLoading)
    {
        <Waiting></Waiting>
    }
    else
    {
        @foreach (var character in _characters)
        {
            <li>
                <NavLink class="nav-link" href="charactersInfo" Match="NavLinkMatch.All">
                    <div class="card-character">
                        @*<div class="card-picture">
                            <Picture PicturePath="@character.Picture" />
                        </div>*@
                        <div class="card-details">
                            <div class="card-name">
                                <h4>@character.Name</h4>
                            </div>
                        </div>
                    </div>
                </NavLink>
            </li>
        }
    }
</ul>