@page "/characters"
@using GuessWhoOnePiece.Components.Elements.ItemList
@using GuessWhoOnePiece.Components.Elements.Loading
@using GuessWhoOnePiece.Components.Elements.TextEntry
@using GuessWhoOnePiece.Model.Characters

<TextEntry WithAutoComplete="false" Items="_characterNames" OnItemSelected="OnSelectedCharacter" OnKeyPressed="OnKeyPressed" OnInputKeys="OnInput"></TextEntry>

<ul class="list-character">
    @if (isLoading)
    {
        <Loading></Loading>
    }
    else
    {
        @foreach (var character in _characters)
        {
            <li>
                <ItemList Character="character"/>
            </li>
        }
    }
</ul>