@page "/characters"
@using GuessWhoOnePiece.Model.Characters
@inject GuessWhoOnePiece.Model.CsvManager.IFileServiceReader FileServiceReader
@inject GuessWhoOnePiece.Services.CurrentCharacterService CurrentCharacterService
@inject NavigationManager Navigation

<div class="top-bar-menu">
    <div class="text-entry">
        <TextEntry WithAutoComplete="false" Items="_characterNames" OnItemSelected="OnSelectedCharacter" OnKeyPressed="OnKeyPressed" OnInputKeys="OnInput"></TextEntry>
    </div>
</div>

<ul class="list-character">
    @if (isLoading)
    {
        <Waiting></Waiting>
    }
    else
    {
        @foreach (var character in _characters)
        {
            <div class="card-character" @onclick="() => OnSelectedCharacter(character.Name)">
                @*<div class="card-picture">
                    <Picture PicturePath="@character.Picture" />
                </div>*@
                <div class="card-name">
                    <h4>@character.Name</h4>
                </div>
            </div>
        }
    }
</ul>