@page "/characters"
@using Bunit.Extensions
@using GuessWhoOnePiece.Components.Elements.ItemList
@using GuessWhoOnePiece.Components.Elements.Loading

<h3>ListCharacters</h3>

<ul class="list-character">
    @if (_characters.IsNullOrEmpty())
    {
        <Loading></Loading>
    }
    else
    {
        @foreach (var character in _characters)
        {
            <li>
                <ItemList Character="character"/>
            </li>
        }
    }
</ul>