<div class="tab-bar">
    <div class="nav-list">
        <div class="nav-item">
            <NavLink class="nav-link" href="counter" @onclick="() => ChangeActiveState(1)">
                @*<img class="nav-icon" src="icons/today_icon.png" alt=""/>*@
                @if (Index == 1)
                {
                    <img class="nav-icon" src="icons/today_icon_on.svg" alt=""/>
                }
                else
                {
                    <img class="nav-icon" src="icons/today_icon_off.svg" alt=""/>
                }
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="game" @onclick="() => ChangeActiveState(2)">
                @*<img class="nav-icon" src="icons/game_icon.png" alt=""/>*@
                @if (Index == 2)
                {
                    <img class="nav-icon" src="icons/infinity_icon_on.svg" alt=""/>
                }
                else
                {
                    <img class="nav-icon" src="icons/infinity_icon_off.svg" alt=""/>
                }
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="home" @onclick="() => ChangeActiveState(3)">
            @if (Index == 3)
            {
                <img class="nav-icon" src="icons/home_icon_on.svg" alt=""/>
            }
            else
            {
                <img class="nav-icon" src="icons/home_icon_off.svg" alt=""/>
            }
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="characters" @onclick="() => ChangeActiveState(4)">
                @*<img class="nav-icon" src="icons/characters_icon.png" alt=""/>*@
                @if (Index == 4)
                {
                <img class="nav-icon" src="icons/characters_icon_on.svg" alt=""/>
                }
                else
                {
                <img class="nav-icon" src="icons/characters_icon_off.svg" alt=""/>
                }
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="weather" @onclick="() => ChangeActiveState(5)">
                @*<img class="nav-icon" src="icons/settings_icon.png" alt=""/>*@
                @if (Index == 5)
                {
                <img class="nav-icon" src="icons/settings_icon_on.svg" alt=""/>
                }
                else
                {
                <img class="nav-icon" src="icons/settings_icon_off.svg" alt=""/>
                }
            </NavLink>
        </div>
    </div>
</div>
