@using GuessWhoOnePiece.Components.Elements.Answer
<div class="answer">
    <div class="answer-list">
        <div class="answers">
            <Answer AnswerImage="@Character?.Picture"></Answer>
        </div>
        <div class="answers">
            <Answer AnswerText="@Character?.Name" AnswerState="AnswerState"></Answer>
        </div>
        <div class="answers">
            <Answer AnswerText="@Character?.Age.ToString()" AnswerState="AnswerState"></Answer>
        </div>
        <div class="answers">
            <Answer AnswerText="@Character?.DevilFruit.ToString()" AnswerState="AnswerState"></Answer>
        </div>
        <div class="answers">
            <Answer AnswerText="@Character?.Bounty" AnswerState="AnswerState"></Answer>
        </div>
        <div class="answers">
            <Answer AnswerText="@Character?.Alive.ToString()" AnswerState="AnswerState"></Answer>
        </div>
        <div class="answers">
            <Answer AnswerText="@Character?.FirstAppearance.ToString()" AnswerState="AnswerState"></Answer>
        </div>
        <div class="answers">
            <Answer AnswerText="@Character?.Crew" AnswerState="AnswerState"></Answer>
        </div>
    </div>
</div>