@using GuessWhoOnePiece.Components.Elements.Answer
<div class="answer">
    <div class="answer-list">
        <div class="answers">
            <Answer></Answer>
        </div>
        <div class="answers">
            <Answer></Answer>
        </div>
        <div class="answers">
            <Answer></Answer>
        </div>
        <div class="answers">
            <Answer ></Answer>
        </div>
        <div class="answers">
            <Answer></Answer>
        </div>
        <div class="answers">
            <Answer></Answer>
        </div>
        <div class="answers">
            <Answer></Answer>
        </div>
        <div class="answers">
            <Answer></Answer>
        </div>
    </div>
</div>