<div class="answer">
    <div class="answer-list">
        <li class="answers">
            <answer></answer>
        </li>
        <li class="answers">
            <answer></answer>
        </li>
        <li class="answers">
            <answer></answer>
        </li>
        <li class="answers">
            <answer></answer>
        </li>
        <li class="answers">
            <answer></answer>
        </li>
        <li class="answers">
            <answer></answer>
        </li>
        <li class="answers">
            <answer></answer>
        </li>
        <li class="answers">
            <answer></answer>
        </li>
    </div>
</div>